<!DOCTYPE html>
<html>
<head>
  <title>SupremeBM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "My SupremeBM", welcome_index_path %></li>
      <li><%= link_to "What is SupremeBM", welcome_about_path %></li>
    </ul>

<%= yield %>

</body>
</html>
